# Site
name: "A Perspectief on Cruising"
title: "A Perspectief on Cruising"
description: "Perspectief is a Dutch cruiser created from steel and first launched in 1987. The boat is kept on the Thames and this site describes the trips we make."
logo: 'assets/images/logo.png'
favicon: 'assets/images/logo.png'
baseurl: ''
url: https://perspectief.chrisjennings.net
google_analytics: ''
disqus: 'Perspectief'
mailchimp-list: ''
include: ["_pages"]
permalink: /:title/
flickr_key: 6a751024fcc480f70610ed1f98220880
flickr_id: 55648661@N00
image: images/2019/07/DSC_5253.jpg
twitter_username: pageboy
lang: en_gb

# Authors
authors:
  Chris:
    name: Chris
    display_name: Chris Jennings
    gravatar: 7916649c496b000c7665218be2aff3cf
    email: chrisjennings@me.com
    web:
    twitter: https://twitter.com/pageboy
    description: "I do lots of things"
# Plugins
plugins:
  - jekyll-paginate
  - jekyll-sitemap
  # - jekyll-feed
  - jekyll-seo-tag
  # - jekyll-archives

# Archives
jekyll-archives:
  enabled:
    - categories
  layout: archive
  permalinks:
    category: '/category/:name/'

# Pagination
paginate: 6
paginate_path: /page:num/

# Other
markdown: kramdown

kramdown:
  input: GFM
  syntax_highlighter: rouge
  syntax_highlighter_opts:
    block:
      line_numbers: true

# Adsense (change to "enabled" to activate, also your client id and ad slot. Create a new ad unit from your Adsense account to get the slot.)
adsense: "disabled"
adsense-data-ad-client: "ca-pub-3412143450191416"
adsense-data-ad-slot: "1363087678"

# Lazy Images ("enabled" or "disabled")
lazyimages: "disabled"

exclude: [changelog.md, LICENSE.txt, README.md, Gemfile, Gemfile.lock]

prose:
  rooturl: '_posts'
  siteurl: 'https://perspectief.chrisjennings.net'
  # relativeLinks: 'https://pageboy.github.io/perspectief/links.jsonp'
  media: 'images'
  metadata:
    _posts:
      - name: "published"
        field:
          label: "Published"
          element: "checkbox"
          value: "false"
      - name: "layout"
        field:
          element: "hidden"
          label: "Layout"
          value: "post"
      - name: "title"
        field:
          label: "Title"
          element: "text"
          value: "An Awesome Headline!"
      - name: "description"
        field:
          element: "text"
          label: "Description"
          placeholder: "Enter Post Description"
      - name: "headline"
        field:
          element: "text"
          label: "beadline"
          placeholder: "Enter Post Headline"
      - name: "modified"
        field:
          element: "text"
          label: "Has this page been modified?"
          placeholder: "YYYY-MM-DD"
      - name: "categories"
        field:
          element: "multiselect"
          label: "Add categories"
          placeholder: "Choose categories"
          value: personal
          options:
            - name: "Journey"
              value: personal
            - name: "Maintenance"
              value: interesting
            - name: "Mechanics"
              value: engine
            - name: "Development"
              value: development
          alterable: true
      - name: "tags"
        field:
          element: "text"
          label: "Tags"
          placeholder: "Enter tags, separated by spaces"
      - name: "main image"
        field:
          element: "text"
          label: "image"
          placeholder: "*****.jpg"
          help: "Replace ******** with the name of the image file you uploaded"
      - name: "image caption"
        field:
          element: "text"
          label: optional caption
          help: "Enter a caption for the main image"
      - name: "featured"
        field:
          element: "checkbox"
          label: "Featured?"
          value: false
      - name: "comments"
        field:
          element: "checkbox"
          label: "Comments"
          value: false
